<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    E-mail: <input id="email" type="text" name="email"><br>
    Password: <input id="password" type="password" name="password"><br>
    <input type="submit" value="Log In">
</form>